/*h1 {*/
/*color: red;*/
/*}*/

.main-content{
  /*width:100%;*/
}

.nav-row{
  background-color: red;
  color: white;
  height: 40px;
}

.heading-row{
  text-align: center;

}

.how-to-image{
  width: 200px;
  border-radius: 50%;
}

.how-to-cell{
  text-align: center;
}

.sound-bites-head{
  text-align: center;
  height: 40px;
  background-color: rgb(238, 238, 238);
}

/*.sound-bites{
  text-align: center;
  height: 100px;
  background-color: rgb(238, 238, 238);
}*/

.happypeeps{
  width: 50px;
  border-radius: 50%;
}

td {
  border:thin red solid;
}

body{
  font-family: 'Montserrat', sans-serif;

}

/*.hero {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: url("main-hero.jpg")
  no-repeat center center;
  background-size: cover;
  height: 400px;
}*/

.hero {
  background: url("assets/images/main-hero.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  height: 500px;
}

button {
  background-color: rgb(0,126,229);
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px
}

.downloadapps {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: url("download-hero.jpg")
  no-repeat center center;
  background-size: cover;
  height: 500px;
}

.badge {
  height: 60px;
}

.aboutfoodhub {
  text-align: center;
}

.footerblue{
  color: white;
  background-color: rgb(50, 50, 170);
}
.navbar-brand {
  font-family: "Passion One";
  font-size: xx-large;
}
.invisible {
  color: rgb(238, 238, 238);
}

.li-footer {
  color: white;
  margin-bottom: 10px;
}

.invisblue {
  color: rgb(50, 50, 170);
}


/* Additional styles */

/* Base typography */

body {
  font-family: "Montserrat";
  font-size: 16px;
  /*vertical-align: middle;*/
}

h1, h2, h3, h4 {
  font-weight: 700;
}

/* Grid */

.main-content {
  width: 100%;
}

td {
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}

td {
  border: thin red solid;
}

/* Utility */

.round-image {
  border-radius: 50%;
}

.centered {
  text-align: center;
}

.tagline {
  font-size: 22px;
}

/* Buttons */

.primary-button {
  background-color: rgb(0,126,229);
  width: 200px;
  color: white;
  border-radius: 5px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}

.primary-button:hover {
  background-color: rgb(0, 65, 117);
}

/* Navbar */

.navbar {
  background-color: rgb(246,52,64);
  vertical-align: middle;
}

.navbar a {
  color: white !important;
  text-decoration: none;
}

.navbar-brand {
  font-family: "Passion One";
  font-size: xx-large;
}

/* Backgrounds for each section of the page */

.who-delivers {
  background: url("images/main-hero.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  height: 400px;
  vertical-align: middle;
}

/*.sound-bites, .why-order {
  background-color: rgb(238, 238, 238);
}*/

.download-apps {
  background: url("images/download-hero.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  height: 400px;
  vertical-align: middle;
}

.footer {
  background-color: rgb(50, 50, 170);
}

/* Miscellaneous */

.spotlight-image {
  width: 200px;
}

.user-image {
  width: 50px;
}

.store-badge {
  width: 200px;
}

/* Footer styles */

.h4-footer  {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.li-footer {
  color: white;
  margin-bottom: 10px;
}

/* My standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}

footer {
  background-color: rgb(50, 50, 170);
}
